@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;700&family=Roboto:wght@100;400&display=swap');

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    margin: 0;
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: #4E433E;
}

// /* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
    list-style: none;
    list-style-type: none;
}

// /* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
    text-decoration: none;
    text-decoration-skip-ink: auto;
}

// /* Упрощаем работу с изображениями */

img {
    max-width: 100%;
    display: block;
}

// /* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
    margin-top: 1em;
}

// /* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
    font: inherit;
}

// /* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@media (prefers-reduced-motion: reduce) {
* {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}

// Container

.container {
    max-width: 1152px;
    margin: 0 auto;
}

// Header

.header {
    display: block;
    width: 100%;
    position: absolute;
    top: 0%;
    background: rgba(21, 21, 21, 0.509);
    background-blend-mode: multiply;
    border-radius: 0 0 10px 10px;
    border: 1px solid #000000;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.42);
    z-index: 1000;

    .header__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        padding: 0 30px 4px 30px;

        .logo {
            height: 93px;
            width: 93px;
            cursor: pointer;
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navigation__link {
                vertical-align: top;
                margin: 0 15px;
                position: relative;
                border-radius: 20px;
                color: rgb(255, 255, 255);
                text-decoration: none;
                -webkit-transition: color 0.2s linear;
                transition: color 0.2s linear;
            }

            .navigation__link:not(:last-of-type){
                margin-right: 60px;
            } 

            .navigation__link:after {
                content: "";
                display: block;
                background-color: #ffffff;
                opacity: 0;
                width: 0;
                height: 1px;
                position: absolute;
                top: 100%;
                left: 50%;
                z-index: 10;
                transform: translateX(-50%);
                -webkit-transition: 0.3s linear;
                transition: 0.3s linear;
                border-radius: 20px;
            }

            .navigation__link:hover::after {
                width: 100%;
                opacity: 1;
            }
        }

        .btn {
            background-color: #FF0101;
            color: white;
            padding: 13px 20px 13px 20px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }

        .btn:not(:last-of-type) {
            margin-right: 28px;
        }

        .btn:hover{
            background-color: #d52e2e;
        }
    }
}

// Header, parallax-effect background

.parallax {
    background-image: url(../img/topimage-pizza.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.42);
    height: 700px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
    transition: 0.3s ease;

    .parallax, .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.31);
        z-index: 2;
    }

    .parallax, h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 72px;
        line-height: 88px;
        text-align: left;
        max-width: 600px;
        z-index: 3;
    }

    .parallax h1, span {
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-weight: bold;
        line-height: 59px;
        text-align: left;
        color: yellow;
    }

}

// Header, button-active, register-login

.popup-bg-register{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup-register {
    display: block;
    height: 540px;
    width: 360px;
    background-color: #2e2e2e;
    border-radius: 20px;
    justify-content: center;
    padding: 40px 20px 0 20px;
    margin: 80px auto;

    .title {
        color: #eee;
        text-align: center;
        font-family: sans-serif;
        font-size: 36px;
        font-weight: 600;
    }
  
    .subtitle {
        color: #eee;
        text-align: center;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
    }
  
    .input-container {
        height: 50px;
        position: relative;
        width: 100%;
    }
    
    .ic1 {
        margin-top: 40px;
    }
    
    .ic2 {
        margin-top: 30px;
    }
    
    .input {
        display: block;
        align-items: center;
        height: 100%;
        width: 300px;
        margin: 0 auto;
        background: none;
        border-radius: 12px;
        border: 2px solid black;
        text-align: center;
        color: #eee;
        font-size: 18px;
        outline: 0;
        transition: 0.3s ease;
    }
    
    .input:focus {
        width: 100%;
    }

    .cut {
        position: absolute;
        left: 20px;
        top: -20px;
        height: 20px;
        width: 76px;      
        background-color: #2e2e2e;;
        border-radius: 10px;
        transform: translateY(0);
        transition: transform 200ms;
    }

    .cut-short {
        width: 50px;
    }

    .cut-long {
        padding: 0;
        width: 120px;
    }
    
    .input:focus ~ .cut,
    .input:not(:placeholder-shown) ~ .cut {
        transform: translateY(8px);
    }
    
    .placeholder {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #65657b;
        font-family: sans-serif;
        line-height: 14px;
        pointer-events: none;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
    }
    
    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
        transform: translateY(-30px) translateX(10px) scale(0.75);
    }
    
    .input:not(:placeholder-shown) ~ .placeholder {
        color: #808097;
    }
    
    .input:focus ~ .placeholder {
        color: #ffffff;
    }
    
    .submit{
        display: block;
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
        border: 0;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 18px;
        height: 50px;
        margin: 30px auto;
        width: 250px;
    }

    .submit:active {
        background-color: #d52e2e;
    }

    .close-popup-register {
        display: block;
        height: 25px;
        width: 25px;
        margin: -10px 0 -40px 0;
        cursor: pointer;
    }    
}


.no-scroll {
    overflow: hidden;
}
// --------------------------------------
.popup-bg-login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup-login {
    display: block;
    height: 380px;
    width: 360px;
    background-color: #2e2e2e;
    border-radius: 20px;
    justify-content: center;
    padding: 40px 20px 0 20px;
    margin: 80px auto;

    .title {
        color: #eee;
        text-align: center;
        font-family: sans-serif;
        font-size: 36px;
        font-weight: 600;
    }
  
    .subtitle {
        color: #eee;
        text-align: center;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
    }
  
    .input-container {
        height: 50px;
        position: relative;
        width: 100%;
    }
    
    .ic1 {
        margin-top: 40px;
    }
    
    .ic2 {
        margin-top: 30px;
    }
    
    .input {
        display: block;
        align-items: center;
        height: 100%;
        width: 300px;
        margin: 0 auto;
        background: none;
        border-radius: 12px;
        border: 2px solid black;
        text-align: center;
        color: #eee;
        font-size: 18px;
        outline: 0;
        transition: 0.3s ease;
    }
    
    .input:focus {
        width: 100%;
    }

    .cut {
        position: absolute;
        left: 20px;
        top: -20px;
        height: 20px;
        width: 76px;      
        background-color: #2e2e2e;;
        border-radius: 10px;
        transform: translateY(0);
        transition: transform 200ms;
    }

    .cut-short {
        width: 50px;
    }

    .cut-long {
        padding: 0;
        width: 120px;
    }
    
    .input:focus ~ .cut,
    .input:not(:placeholder-shown) ~ .cut {
        transform: translateY(8px);
    }
    
    .placeholder {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #65657b;
        font-family: sans-serif;
        line-height: 14px;
        pointer-events: none;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
    }
    
    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
        transform: translateY(-30px) translateX(10px) scale(0.75);
    }
    
    .input:not(:placeholder-shown) ~ .placeholder {
        color: #808097;
    }
    
    .input:focus ~ .placeholder {
        color: #ffffff;
    }
    
    .submit{
        display: block;
        background-color: rgb(255, 0, 0);
        border-radius: 10px;
        border: 0;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 18px;
        height: 50px;
        margin: 30px auto;
        width: 250px;
    }

    .submit:active {
        background-color: #d52e2e;
    }

    .close-popup-login {
        display: block;
        height: 25px;
        width: 25px;
        margin: -10px 0 -40px 0;
        cursor: pointer;
    }    
}

.no-scroll {
    overflow: hidden;
}

// Section